arbeitsblaetter/
nbproject/
ScoutManagement/
ToDos/
*.zip
*.xml
*.mf
/apps/JPAScoutManagement/target/
/apps/JPATest/build/
/apps/ScoutsFX/build/
/apps/ScoutsFX/dist/
/apps/SocketClient/build/
/apps/SocketServer/build/